/* standard EDoc style sheet */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  margin: 0;
  background-color: #ffffff;
  margin: 10px;
}
a {
  color: red;
  text-decoration: none;
}

h3 a {
  color: black;
}

h2 a {
  color: black;
}

h1,h2 {
 	margin-top: 20px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid black;
}

hr {
  visibility: hidden;
}

pre {
  background-color: #eee;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

ul.index {
	list-style-type: none;
  padding-left: 10;
}

ul.index li {
  font-weight: bolder;
}

div.navbar {
	background-color: #add8e6;
	padding: 0;
  margin: -10px;
  padding: 10px;
}

h2.indextitle {
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
  padding: 18px;
	background-color: #add8e6;
  border-bottom: 1px solid #add8e6;
}
h3.typedecl {
}
h3.function {
}
div.spec {
  padding-left: 10px;
  border: 1px solid #AAA;
	background-color: #eeeeee;
}

a.module,a.package {
	text-decoration:none
}
a.module:hover,a.package:hover {
  color: #000;
}
ul.definitions {
	list-style-type: none;
}

/*
 * Minor style tweaks
 */
ul {
	list-style-type: square;
}
table {
	border-collapse: collapse;
}
td {
}
